.account {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-displayname {
    vertical-align: middle;
}

.status {
    display: flex;
    gap: 10px;
}

.status-createdat {
    flex-shrink: 0;
}